.collection {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 1%;
    justify-items: center;
    align-items: center;
  }
  @media only screen and (max-width: 1023px) {
    .items {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
  }
  @media only screen and (max-width: 699px) {
    .items {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      font-size: 10px;
      // justify-content: center;
      // justify-items: center;
    }
  }

  & .collection-item {
    margin-bottom: 30px;
  }
}
